<ul class="breadcrumb">
  <li><%= link_to 'Home', root_url %><span class="divider">/</span></li>
  <li><%= link_to 'Car Pools', car_pools_url %><span class="divider">/</span></li>
  <li class="active">New Car Pool</li>
</ul>

<h1>New Car Pool</h1>

<%= render 'form' %>
