<ul class="breadcrumb">
  <li><%= link_to 'Home', users_path %><span class="divider">/</span></li>
  <li><%= link_to 'Users', users_path %><span class="divider">/</span></li>
  <li class="active">Edit User</li>
</ul>

<h1>Edit User</h1>

<%= render 'form' %>

