<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
  <li><%= link_to 'Users', users_path %><span class="divider">/</span></li>
  <li class="active">New User</li>
</ul>

<h1>New User</h1>

<%= render 'form' %>

